body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    padding: 20px;
}


nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#list p {
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}


input {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}


form button {
    background-color: #2ecc71;
}

form button:hover {
    background-color: #27ae60;
}


#message {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}